{% extends 'base.html.twig' %}

{% block title %}
    Witaj w moim świecie
{% endblock %}

{% block body %}
    Aktualne albumy:
    <ul>
        {% for album in albums %}
            <li><a href="/{{ album.slug }}">{{ album.title }}</a></li>
        {% endfor %}
    </ul>

    Logowanie do <a href="{{ path('app_admin_item_list') }}">zaplecza</a>
{% endblock %}
