{% extends 'base.html.twig' %}

{% block title %}
    Pstryk
{% endblock %}

{% block body %}
    Zapraszam:
    <ul>
        <li>Blog</li>
        <li><a href="/stalker">Stalker</a></li>
        <li>Tora (archiwum)</li>
    </ul>
{% endblock %}
