includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    excludes_analyse:
        - %rootDir%/tests
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Call to static method increment\(\) on an unknown class counter.#'
        - '#Call to static method getCode\(\) on an unknown class matomo.#'
    doctrine:
        objectManagerLoader: tests/object-manager.php
