<div class="row">
    <div class="col-lg-2 offset-lg-4 col-2 offset-4 text-center form-row-separator">
        {{ form_widget(form.save, {
            'label': 'Dajesz',
            'attr': {
                'class': 'btn btn-danger'
            }
        }) }}
    </div>
    <div class="col-lg-2 col-2 text-center form-row-separator">
        {{ form_widget(form.back, {
            'label': 'Olej',
            'attr': {
                'class': 'btn btn-secondary btn-return'
            }
        }) }}
    </div>
</div>
