{% extends 'admin/base.html.twig' %}

{% block body %}
    <script>
        $(document).ready(function() {
            $('.form-datetimepicker').flatpickr({
                enableTime: true,
                dateFormat: 'Y-m-d H:i',
                altInput: true,
                altFormat: 'j F Y / H:i'
            });

            $('.btn-return').click(function() {
                location.href = '{{ app.request.get('return')|raw }}';
            });
        })
    </script>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">{{ title }}</div>
                </div>
                <div class="card-body">
                    {% import 'admin/parts/form_layout.html.twig' as editForm %}
                    {% form_theme form 'admin/parts/form_fields.html.twig' %}

                    {{ editForm.display_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
