<div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-6 text-center section-separator">
        {{ form_widget(form.save, {
            'label': 'Zapisz',
            'attr': {
                'class': 'btn btn-danger'
            }
        }) }}
    </div>
    <div class="col-md-2 col-xs-6 text-center section-separator">
        {{ form_widget(form.back, {
            'label': 'Anuluj',
            'attr': {
                'class': 'btn btn-primary btn-return'
            }
        }) }}
    </div>
</div>
