{% extends 'admin/base.html.twig' %}

{% block body %}
    <script>
        $(document).ready(function() {
            $('.form-datetimepicker').flatpickr({
                enableTime: true,
                dateFormat: 'Y-m-d H:i',
                altInput: true,
                altFormat: 'j F Y / H:i'
            });

            $('.btn-return').click(function() {
                location.href = '{{ app.request.get('return')|raw }}';
            });

            function onInit() {
                $('.image-preview').magnificPopup({
                    'type': 'image',
                    'closeOnContentClick': true,
                    'closeOnBgClick': true,
                    'showCloseBtn': true,
                    'gallery': {
                        'enabled': true,
                        'tPrev': 'Poprzedni (w lewo)',
                        'tNext': 'Następny (w prawo)',
                        'tCounter': '<span class="mfp-counter">obraz %curr% z %total%</span>'
                    }
                });

                $('input[type=radio]').change(function () {
                    $('input[type=radio]').not($(this)).prop('checked', false);
                });

                $('input[type=file]').change(function() {
                    var filename = $(this).val();
                    var fieldId = $(this).attr('id').match(/\d+/)[0];
                    var lastIndex = filename.lastIndexOf("\\");
                    var reader = new FileReader();

                    // updating filename field
                    if (lastIndex >= 0) {
                        filename = filename.substring(lastIndex + 1);
                    }
                    $('#item_images_' + fieldId + '_name').val(filename);

                    // updating image preview
                    reader.onload = function(e) {
                        $('#item_image_'+ fieldId +'_thumb').attr('src', e.target.result);
                        $('#item_image_'+ fieldId +'_thumb').parent().attr('href', e.target.result);
                    };
                    reader.readAsDataURL($(this).prop('files')[0]);
                });

                if ($('input[type=radio]:checked').length === 0) {
                    $('input[type=radio]').first().prop('checked', true);
                }
            }

            $('.images-collection').collection({
                'allow_duplicates': false,
                'position_field_selector': '.image-position',
                'add': '<a href="#" class="btn btn-default"><span class="fas fa-plus"></span></a>',
                'after_init': function () {
                    onInit();
                },
                'after_add': function () {
                    onInit();

                    return true;
                }
            });

            function fileDragHover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.target.className = (e.type === 'dragover' ? 'hover' : '');
            }

            function fileSelectHandler(e) {
                fileDragHover(e);

                var files = e.target.files || e.dataTransfer.files;
                for (var i = 0, f; f = files[i]; i++) {
                    // TODO: add images to collection
                    alert('Funkcja jeszcze nie obsługiwana');

                    console.log(f);
                }
            }

            if (window.File && window.FileList && window.FileReader) {
                var dropArea = document.getElementById('drop-area'),
                    xhr = new XMLHttpRequest();

                if (xhr.upload) {
                    dropArea.addEventListener('dragover', fileDragHover, false);
                    dropArea.addEventListener('dragleave', fileDragHover, false);
                    dropArea.addEventListener('drop', fileSelectHandler, false);
                    dropArea.style.display = 'block';
                }
            }
        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">{{ title }}</div>
                </div>
                <div class="card-body">
                    {% import 'admin/parts/form_layout.html.twig' as editForm %}
                    {% form_theme form with [
                        'admin/parts/form_fields.html.twig',
                        'admin/parts/jquery.collection.html.twig',
                        'admin/parts/form_image.html.twig'
                    ] %}

                    {{ editForm.display_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
