{% extends 'album/tysia/base.html.twig' %}

{% block title %}Tutaj nic nie ma{% endblock %}
{% block description %}Tutaj nic nie ma{%  endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            Sorry, ale podstrony na chwilę obecną nie są obsługiwane w tym albumie.
        </div>
    </div>
{% endblock %}
