* {
    font-family: 'Open Sans', sans-serif
}

body {
    background: #343A40;
}

main {
    background: #f2f2f2;
}

.hide {
    display: none;
}

main .container {
    padding: 4em 0 4em 0;
}

.login-form input[type=text],
.login-form input[type=password],
.login-form button {
    margin-bottom: 1em;
}

.login-form-remember-me {
    font-size: 0.9em;
}

.card-header {
    height: 3em;
}

.table-striped th {
    border-top: 0;
    padding: 0.3em;
}

.table-striped td {
    padding: 0.3em;
}

.vcenter {
    display: flex;
    align-items: center;
}

.form-textarea {
    height: 10em !important;
}

.form-row-separator {
    margin-top: 1em;
}

.form-row-image-separator {
    margin: 1em 0;
}

.form-required {
    color: #c40000;
}

.form-help {
    color: #0f896f;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 0.8em;
}

.form-error {
    border: 1px solid #ed0000;
    background: #ffeaea;
    padding: 1em 1.5em;
    list-style-type: none;
    color: #ed0000;
    font-weight: bold;
}

.paginator {
    margin-top: 1em;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #a2a2a2;
    font-size: 0.9em;
}

footer a:link,
footer a:visited {
    color: inherit;
}

.ui-sortable-handle > label {
    display: none;
}

.form-images-container {
    padding: 0.8em 0.4em;
}

#item_images {
    height: 100%;
}

#item_images input,
#item_images textarea {
    width: 100%;
}

.img-preview {
    border: 0.1em solid #ccc;
    padding: 0.1em;
    background: #fff;
    box-shadow: 0.1em 0.1em 0.5em #888;
}

#drop-area {
    display: none;
    text-align: center;
    padding: 2em 0;
    margin: 1em 0;
    color: #555;
    border: 0.07em dashed #555;
    border-radius: 7px;
    cursor: default;
    background: #F7FAFA;
}

#drop-area.hover {
    color: #f00;
    border: 0.07em solid #ed0000;
}

.filter-header,
.filter-options {
    margin-bottom: 1em;
}

.preloader {
    margin: 0 auto;
    text-align: center;
}

.preloader:before {
    width: 30px;
    height: 30px;
    content: '';
    position: relative;
    display: inline-block;
    overflow: hidden;
    transform-origin: 46% 54%;
    animation: preloader_spin 1s linear infinite;
    background: url('../images/preloader.svg') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

@keyframes preloader_spin {
    100% {
        transform: rotate(360deg);
    }
}
